.centreText {
  text-align: center;
}

h1 {
  font-size: 150px;
}

.image1 {
  border-radius: 5%;
  padding-top: 5%;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.result {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 5%
}

.dropZoneText {
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

