.header {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
.image {
    padding-left: 15px;
    max-height: 100%;
    max-width: 100%;
}
.headerText{
  font-size: 6vw;
  margin: auto 0;
  font-weight: bold;
  color: #eeeeee;
}


